
<div class="row result-group">
  <div class="col-sm-12">
    <h4 id="{{ result.id }}">{{ result.title }} <small class="label label-{{ result.state_class }}">{{ result.status_title }} <span class="glyphicon {% if result.status %}glyphicon-ok{% else %}glyphicon-remove{% endif %}" aria-hidden="true"></span></small></h4>
    <p>{{ result.description | raw }}</p>
    <div class="alert alert-{{ result.state_class }}" role="alert">
      This policy was unable to determine the state of {{ domain }}.
    </div>
  </div>
</div>
