<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2>Summary</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Policy</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for policy_results in results %}
            <tr>
              <td><a href="#{{ policy_results.id }}">{{ policy_results.title }}</a></td>
              <td>{{ policy_results.pass }} of {{ policy_results.total }} sites passed</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Site results by policy</h2>
      {% for policy_results in results %}
      <h3 id="{{ policy_results.id }}">{{ policy_results.title }}</h3>
      <div>{{ policy_results.description | raw }}</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Site</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for uri, site in policy_results.sites %}
            <tr>
              <td>{{ uri }}</td>
              <td>
                {% if site.has_warning %}
                <div class="alert alert-warning" role="alert">{{ site.warning | raw }}</div>
                {% endif %}
                {{ site.summary | raw }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>

  <hr>
</div> <!-- /container -->
