  <div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2>Summary</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Policy</th>
            <th>Success Rate</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for policy_name, policy_results in by_policy %}
            <tr>
              <td><a href="#{{ policy_results.name }}">{{ policy_results.title }}</a></td>
              <td>{{ policy_results.success_rate }}%</td>
              <td>{{ policy_results.success }} of {{ policy_results.total }} sites passed</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <h2>Site results by policy</h2>
      {% for policy_name, policy_results in by_policy %}
      <h3 id="{{ policy_results.name }}">{{ policy_results.title }}</h3>
      <div>{{ policy_results.description | raw }}</div>

      {% if policy_results.success == policy_results.total %}
      <div class="alert alert-success" role="alert">All sites passed this policy.</div>
      {% else %}
        <h4>Policy failures by site</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Site</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            {% for uri, site in policy_results.sites if site.isSuccessful == false %}
              <tr>
                <td>{{ uri }}</td>
                <td>
                  {{ site.message | raw }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <hr>
</div> <!-- /container -->
