<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2 id="overview">Overview</h2>
      <p>These are the results of the report conducted against <a href="{{ domain }}">{{ domain }}</a>.</p>
      <table class="table">
        <thead>
          <tr>
            <th>Policy</th>
            <th>Audit</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr class="{% if result.is_notice %}{% elseif result.status %}has-success{% else %}has-error{% endif %}">
            <th><a href="#{{ result.id }}">{{ result.title }}</a></th>
            <td class="control-label">{% if result.is_notice %}Inform{% elseif result.status %}Passed{% else %}Failed{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    {% for result in results %}
    <div class="row result-group">

      <div class="col-sm-12">
        <h2 id="{{ result.id }}">{{ result.title }} <small><span class="glyphicon {% if result.status %}glyphicon-ok{% else %}glyphicon-remove{% endif %}" aria-hidden="true"></span></small></h2>
        <p>{{ result.description | raw }}</p>
        <div class="alert alert-{% if result.is_notice %}info{% elseif result.has_warning %}warning{% elseif result.status %}success{% else %}danger{% endif %}" role="alert">
          {% if result.status %}
            {{ result.success | raw }}
          {% else %}
            {{ result.failure | raw }}
          {% endif %}
        </div>

        {% if not result.status %}
        <div class="panel panel-default">
          <div class="panel-heading">Remediation</div>
          <div class="panel-body">
            {{ result.remediation | raw }}
          </div>
        </div>

        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>

  <hr>

</div> <!-- /container -->
