<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | raw }} - {{ domain }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.1.x/assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.1.x/assets/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://raw.githubusercontent.com/drutiny/drutiny/2.1.x/assets/manifest.json">
  <link rel="mask-icon" href="https://raw.githubusercontent.com/drutiny/drutiny/2.1.x/assets/safari-pinned-tab.svg" color="#00a9e3">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
  {% include 'common_css.html.twig' %}
</head>
<body data-spy="scroll" data-target="#navbar">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://raw.githubusercontent.com/drutiny/drutiny/2.1.x/assets/logo.png" alt="Drutiny logo" style="float: left; width: 22px; margin-right: 10px;"/>
        {{ title | raw }}
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {{ navbar | raw }}
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<a id="top"></a>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <p>{{ "now"|date("H:i - F jS, Y") }}</p>
    <h1>{{ title }}</h1>
    <p>{{ summary | raw }}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    {{ description | raw }}
  </div>
</div>
{{ content | raw }}

<div class="container">
  <footer>
    <p>&copy; Drutiny {{ 'now' | date('Y') }} | {{ "now"|date("F jS, Y") }}</p>
  </footer>
</div>

{% include 'script_footer.html.twig' %}

</body>
</html>
