[[[type="horizontalBar" title="Audit outcome by severity" hide-table="true" labels="tbody th" series="tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5), tr td:nth-child(6)" series-labels="thead th:nth-child(2), thead th:nth-child(3), thead th:nth-child(4), thead th:nth-child(5), thead th:nth-child(6)" stacked="true" height="250" legend="bottom" x-axis="Policies Audited" colors="rgba(46, 204, 113,1.0);rgba(192, 57, 43,1.0);rgba(230, 126, 34,1.0);rgba(241, 196, 15,1.0);rgba(52, 73, 94,1.0)"]]]
<table class="table">
  <thead>
    <tr>
      <th>Severity</th>
      <th>Pass</th>
      <th>Fail</th>
      <th>Error</th>
      <th>Warning</th>
      <th>Not Applicable</th>
    </tr>
  </thead>
  <tbody>
    {% for severity, row in stats  %}
    <tr>
      <th>{{ severity }} ({{ totals[severity] }})</th>
      <td>
        {{row.success}}
      </td>
      <td>
        {{ row.failure }}
      </td>
      <td>
        {{ row.error }}
      </td>
      <td>
        {{ row.warning }}
      </td>
      <td>
        {{ row.not_applicable }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
