{% set series = [] %}
{% set seriesLabels = [] %}
{% for severity, row in stats  %}
  {% set series = series|merge(["tr:nth-child(" ~ loop.index ~ ") td"]) %}
  {% set seriesLabels = seriesLabels|merge(["tbody tr:nth-child(" ~ loop.index ~ ") th"]) %}
{% endfor %}
[[[type="horizontalBar" title="Audit outcome by severity" hide-table="true" labels="thead th:not(:first-child)" series="{{ series|join(", ") }}" series-labels="{{ seriesLabels|join(", ") }}" stacked="true" height="250" legend="bottom" x-axis="Policies Audited"]]]
<table class="table">
  <thead>
    <tr>
      <th>Severity</th>
      <th>Pass</th>
      <th>Fail</th>
      <th>Error</th>
      <th>Warning</th>
      <th>Not Applicable</th>
    </tr>
  </thead>
  <tbody>
    {% for severity, row in stats  %}
    <tr>
      <th>{{ severity }} ({{ totals[severity] }})</th>
      <td>
        {{row.success}}
      </td>
      <td>
        {{ row.failure }}
      </td>
      <td>
        {{ row.error }}
      </td>
      <td>
        {{ row.warning }}
      </td>
      <td>
        {{ row.not_applicable }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
